/* Profil page */

.header {
    color: #fff;
    margin-bottom: 2rem;
    height: 150px;

    h1 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-top: 1.4rem;
        margin-bottom: 1.4rem;
    }
}

.edit-button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
}

.userInfo-wrapper {

    display: flex;
    justify-content: center;

    input {
        padding: 5px;
        margin: 5px;
        width: 15vw;
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.bt-group {
    display: flex;
    justify-content: center;
}

.edit-button {
    padding: 5px;
    margin: 5px;
    width: 150px;
    font-size: 1.2rem;
}

.spinner {
    justify-content: center;

}

.text-error {
    font-size: 0.65rem;
    color: red;
    margin: 0px;
}