/* Profil page */

.header {
    color: #fff;
    margin-bottom: 2rem;
    height: 150px;
}

.edit-button {
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    width: 92.3px;
    cursor: pointer;
}

.secondary-boutton {
    margin: 5px;
}

.userInfo-wrapper {

    display: flex;
    justify-content: center;

    input {
        padding: 5px;
        margin: 0 5px 5px 5px;
        width: 15vw;
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.bt-group {
    display: flex;
    justify-content: center;
}



.spinner {
    justify-content: center;

}

.text-error {
    font-size: 0.65rem;
    color: red;
    margin: 0px;
}